/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    background: #8c8c8c;
    width: 720px;
    margin: auto;
}

#card-image img {
    /*width: 100%;*/
    height: 100%;
}

#card-body {
    position: relative;
    padding: 25px;
    background-color: #ffffff;
}

h2 {
    font-family: Arial, SansSerif, sans-serif;
    font-weight: bold;
}

h4 {
    color: #8c8c8c;
    padding: 5px 0;
}

#card-footer table {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

#card-footer table td:first-child {
    width: 13%;
    text-align: left;
    vertical-align: middle;
}

#card-footer table td:last-child {
    width: 10%;
    text-align: right;
    vertical-align: middle;
}

.card-footer-image {
    width: 80%;
}

.card-footer-header {
    font-weight: bold;
}

.card-footer-subscript {
    color: #8c8c8c;
}
